@font-face {
    font-family: YourFontFamily;
    src: url("/assets/font/yourFont.ttf") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

header{
    font-family: YourFontFamily;
    font-size: 20px;
}

.container {
    position: relative;
    /* border-radius: 0.3rem; */
    /* box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 8px; */
    /* border-radius: 4px; */
    background-color: transparent;
}
/* .modal { */
/*     position: fixed; */
/*     top: 0; */
/*     right: 0; */
/*     bottom: 0px; */
/*     left: 0; */
/*     z-index: 1050; */
/*     opacity: .5; */
/*     background-color: transparent; */
/* } */

.hero {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100vh;
    height: 85.4vh;
}
    .hero:before {
        content: '';
        position: absolute;
        top: -8px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: url("../assets/rslogo.png");
        background-size: cover;
        background-position: top center;
        opacity: 0.75;
    }