<style>
    label {
     background-color: rgba(206, 159, 245, 0.85);
   }
     </style>
<div class="row">
    <form (submit)="onClanCreate()">
        <div class="form-group">
            <label for="clanName">Clan name</label>
            <input type="text" class="form-control" name="clanName" #clanName="ngModel" [(ngModel)]="clanItem.name" required>
            <div class="text-danger" *ngIf="clanName.touched && clanName.invalid">Required</div>
        </div>
        <div class="form-group">
            <label for="clanDescription">Clan description</label>
            <input type="text" class="form-control" name="clanDescription" #clanDescription="ngModel" [(ngModel)]="clanItem.description" required>
            <div class="text-danger" *ngIf="clanDescription.touched && clanDescription.invalid">Required</div>
        </div>

  <!--     <div class="form-group">
            <label for="clanType">Clan Type</label>
            <input type="text" class="form-control" name="clanType" #clanType="ngModel" [(ngModel)]="clanItem.type" required>
            <div class="text-danger" *ngIf="clanType.touched && clanType.invalid">Required</div>
        </div>
 --> 

        <div class="form-group"></div>
        <label for="clanType">Clan Type</label>
        <select class="form-control" name="clanType" #clanType="ngModel" [(ngModel)]="clanItem.type">
            <option value="" disabled selected>Select your option</option>
            <option value="PVP">PVP</option>
            <option value="Mixed">Mixed</option>
            <option value="PVM">PVM</option>
          </select>
        <div class="form-group"></div>

        <div *ngIf="errorMessage" class="alert alert-danger"> {{errorMessage}}</div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" value="Create" [disabled]="clanName.invalid">Create</button>
        </div>
    </form>
</div>
