 
  <style>
   label {
    background-color: rgba(206, 159, 245, 0.85);
  }
    </style>
  
  <div class="row">
    <form (submit)="onMemberCreate()">
        <div class="form-group">
            <label for="memberNickname">Member nickname</label>
            <input type="text" class="form-control" name="memberNickname" #memberNickname="ngModel" [(ngModel)]="memberItem.nickname" required>
            <div class="text-danger" *ngIf="memberNickname.touched && memberNickname.invalid">Required</div>
        </div>
        <div class="form-group">
            <label for="memberGoal">Goal</label>
            <input type="text" class="form-control" name="memberGoal" #memberGoal="ngModel" [(ngModel)]="memberItem.goal" required>
            <div class="text-danger" *ngIf="memberGoal.touched && memberGoal.invalid">Required</div>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger"> {{errorMessage}}</div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" value="Create" [disabled]="memberNickname.invalid">Submit</button>
        </div>
    </form>
</div>
